.comments {
  display: flex;
  flex-direction: column;
}
li {
  color: rgb(227, 227, 227);
}
.container-comments {
}

.comment-header-container {
  display: flex;
}

.username-text {
  font-size: medium;
  font-weight: bold;
}

.date-text {
  font-size: small;
  color: gray;
  margin-left: 0.3rem;
  margin-top: 0.2rem;
}
.reply-container {
  color: #107cfd;
}
.replies {
  color: aliceblue;
  margin-top: 10px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}
