.video-responsive {
  overflow: hidden;
  position: relative;
  height: 88vh;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  color: azure;
}
.comment-section {
  flex: 0.7;
  background-color: rgb(46, 45, 45);
  height: 500px;
}

.related-videos {
  flex: 0.3;
  background-color: rgb(38, 38, 38);
  height: 500px;
}
