ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #212121;;
  color: white;
  padding: 0.5rem 1rem;
  height: 4rem;
  top:0;
  position: sticky;
  z-index: 100;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}
∏ .navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

/* new css */
.logo-img {
  height: 25px;
  margin-left: 20px;
}
.right-nav-cluster {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.search-field {
  width: 20vw;
  height:35px;
  padding:5px;
  border: 1px solid black;
  background-color: black;
  outline: none;
  color:cornsilk;

}
.search-button {
  background-color: rgb(92, 90, 90);
  height:34px !important;
  margin-left: -33px;
  width: 60px !important;
}
.center-nav-cluster{
  display: flex;
  align-items: center;
}
.MuiSvgIcon-root{
width:2em;  
}
.header_icons{
  margin-right: 20px;
}